<div class="header">
  <div class="content">
    <p class="logo brandon">Harry&#8217;s</p>
    <p class="byline brandon">MERCI DE NOUS REJOINDRE!</p>
  </div>
</div>

<div class="hero">
  <div class="page-content clearfix">
    <div class="mammoth">
      <span class="need brandon">Osooq.fr<br>te remercie!</span>
    </div>
    <div class="share-wrap">
      <p class="why brandon">Gagnez plus de cadeaux!</p>
      <p class="title brandon">en invitant plus<br> d'amis</p>
      <p class="subtitle brandon">Partagez votre lien unique via email, Facebook<br>ou Twitter and gagnez pour<br>chaque ami qui nous rejoint!</p>
      <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
      <% twitter_message = "#Osooq arrive, rejoins le mouvement et gagne des cadeaux by @osooq " %>
      <div class="social-links">
        <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
        <div class="sep"></div>
        <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
      </div>
    </div>
  </div>
</div>

<%
  referrals_count = @user.referrals.count

  stops = User::REFERRAL_STEPS

  found = nil

  stops.reverse_each { |stop|
    if stop["count"] <= referrals_count and !found
      stop["selected"] = true
      found = stop
    else
      stop["selected"] = false
    end
  }
%>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
  <div class="page-content">
    <p class="callout brandon">Mode d'emploi:</p>
    <ul class="products clearfix">
      <li class="title brandon"><p class="friends">Amis rejoignants</p><p class="rewards">Le mouvement Osooq</p></li>
      <% stops.each do |stop| %>
        <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
          <div class="circle"><%= stop["count"] %></div>
          <div class="sep"></div>
          <p><%= stop["html"].html_safe %></p>

          <div class="tooltip">
            <img src="<%= stop["image"] %>" height="254">
          </div>
        </li>
      <% end %>
    </ul>

    <div class="progress">
      <div class="mover">
        <div class="bar clearfix"></div>
      </div>
    </div>

    <%
      words = ''
      if referrals_count == 1
        words = 'ami a'
      else
        words = 'amis ont'
      end
    %>

    <% if referrals_count == 0 %>
      <p class="place brandon"><span>Pas</span> d'amis au compteur...è_é !</p>
    <% else %>
      <p class="place brandon"><span><%= referrals_count %></span> <%= words %> au compeur</p>
    <% end %>
    <p class="check brandon">Invites en plus!</p>

    <p class="ship brandon">Osooq.fr ouvre bientôt!</p>
    <a class="policy brandon" href="http://osooq.fr/vendeurs/" target="_blank">Vous êtes vendeur?</a>
  </div>
</div>
